/* [v-cloak] {
    display: none;
} */

[v-cloak]>* {
    display: none
}


.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 14px;
    background-color: rgb(199, 231, 220);
    border-radius: 6px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 2px 0px rgba(158, 150, 158, 1);
    justify-content: space-around;
    margin-top: 230px;
}

.logo {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}


.book {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 1rem;
}

.search {
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 10px;
}

.header {
    background-color: white;
}

h1 {
    color: rgb(0, 0, 87);
    font-size: 4rem;
    margin-bottom: 30px;
}

/* Books */
.book-cover {
    width: 210px;
    height: 310px;
    perspective: 1000px;
    display: inline-block;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px rgba(158, 150, 158, 1);
}

.book-info {
    width: 210px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
}

.book-title {
    color: aliceblue;
}

.book-description {
    color: aquamarine;
}

.flip-book {
    background-color: transparent;
    width: 210px;
    height: 310px;
    perspective: 1000px;
}

.flip-book-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-book:hover .flip-book-inner {
    transform: rotateY(180deg);
}

.flip-book-front,
.flip-book-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-book-back {
    transform: rotateY(180deg);
}

/* Footer */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    font-size: 20px;
}

.social {
    text-align: center;
    margin-top: 0;
    text-decoration: none;
}

.info {
    text-align: center;
}

@media all and (max-width:480px) {
    .logo {
        width: 30%;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    h1 {
        color: rgb(0, 0, 87);
        font-size: 2rem;
        margin-bottom: 30px;
        margin-left: 10px;

    }

    .search {
        border-radius: 6px;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 10px;

    }
}

@media all and (max-width:780px) {

    .search {

        margin-bottom: 10px;

    }
}